/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.instruction-container {
    background-color: white;
    width: 80%;
    max-width: 700px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #4CAF50;
}

h2 {
    color: #333;
}

p, ul, ol {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
    text-align: left;
    margin-bottom: 20px;
}

ol {
    padding-left: 20px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

a.back-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a.back-button:hover {
    background-color: #45a049;
}
