body{
    text-align: center;
    height: 100vh;

    background-image:url(simon.jpg); 
}
.btn4{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 1.5rem;
}
@media(width<700px){
    .btn4{
        height: 100px;
        width: 100px;
        border-radius: 20%;
        border: 10px solid black;
        margin: 1rem;
    }
}
@media(width<295px){
    .btn4{
        height: 80px;
        width: 80px;
        border-radius: 20%;
        border: 10px solid black;
        margin: 0.5rem;
    }
}
.button-container{
    display: flex;
    justify-content: center;

}
.red{
    background-color: #f82d6a;
}
.green{
    background-color:#63c095;
}
.yellow{
    background-color: #f99b45;
}
.purple{
    background-color:#f981e5;
}
.flash{
    background-color: white;
}
.userflash{
    background-color: green;
}
/* start button */
.start_button{
    color: rgb(255, 255, 255);
    font-size: large;
    background-color: blue;
    border-radius: 1.5rem;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;

}
.help_div{
    margin-top: 50px;
}
a{
    text-decoration: none;
    color: white;
    font-size: large;
    background-color: rgb(19, 192, 19);
    border-radius: 1.5rem;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
}